
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: black;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Information {
            background-color: #eeeeee;
        }

        #Citations {
            background-color: #eeeeee;
        }

        #Parts {
            background-color: #eeeeee;
        }

        #Projects {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>

    <button class="tablink" onclick="openPage('Information', this, 'darkgrey')" id="defaultOpen">Information</button>
    <button class="tablink" onclick="openPage('Citations', this, 'darkgrey')">Citations</button>
    <button class="tablink" onclick="openPage('Parts', this, 'darkgrey')">Parts</button>
    <button class="tablink" onclick="openPage('Projects', this, 'darkgrey')">Projects</button>


    @*Content in tabs goes here*@
    <div id="Information" class="tabcontent">
        <h3>Home</h3>
        <p>Home is where the heart is..</p>
    </div>

    @*Content in tabs goes here*@
    <div id="Citations" class="tabcontent">
        <h3>News</h3>
        <p>Some news this fine day!</p>
    </div>

    @*Content in tabs goes here*@
    <div id="Parts" class="tabcontent">
        <h3>Contact</h3>
        <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>

    @*Content in tabs goes here*@
    <div id="Projects" class="tabcontent">
        <h3>About</h3>
        <p>Who we are and what we do.</p>
    </div>

    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>
</html> 