
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>    
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: black;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Information {
            background-color: #eeeeee;
        }

        #Citations {
            background-color: #eeeeee;
        }

        #Parts {
            background-color: #eeeeee;
        }

        #Projects {
            background-color: #eeeeee;
        }

        table {
            border: 1px solid black;
        }



        div.c {
            text-align: right;
            padding-right: 0px;
            float: right;
        }

        .container-head div {
            display: inline-block;
            width: 500px;
            min-height: 50px;
            background-color: white;
            height: auto;
        }

        .container-Information div {
            display: inline-block;
            width: 250px;
            min-height: 50px;
            background-color: white;
            height: auto;
        }

        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>

</head>

<body>    

    <div class="container-head">
        <div class="pull-left"><h3><i>Obliquaria reflexa</i></h3></div>
        <div class="c"><h3>Catalog #: 1105</h3></div>
    </div>
    <button class="tablink" onclick="openPage('Information', this, '#900f0f')" id="defaultOpen">Information</button>
    <button class="tablink" onclick="openPage('Citations', this, 'darkgrey')">Citations</button>
    <button class="tablink" onclick="openPage('Parts', this, 'darkgrey')">Parts</button>
    <button class="tablink" onclick="openPage('Projects', this, 'darkgrey')">Projects</button>


    @*Content in tabs goes here*@
    <div id="Information" class="tabcontent">
        <div class="container-head">
            <div class="pull-left" style="background-color: #eeeeee; padding-right: 0px; display: inline-block;">
                <table>
                    <tr>
                        <th style="padding: 8px;">Identifiers</th>
                        <td style="padding: 8px;"></td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Kingdom:</th>
                        <td style="padding: 8px;">Animalia</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Phylum:</th>
                        <td style="padding: 8px;">Mollusca</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Class:</th>
                        <td style="padding: 8px;">Bivalvia</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Order:</th>
                        <td style="padding: 8px;">Unionida</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Family:</th>
                        <td style="padding: 8px;">Unionidae</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Subfamily:</th>
                        <td style="padding: 8px;">Ambleminae</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Genus:</th>
                        <td style="padding: 8px;">Obliquaria Rafinesque</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Species:</th>
                        <td style="padding: 8px;">O. reflexa</td>
                    </tr>
                    <tr>
                        <th style="padding: 8px;">Common Name:</th>
                        <td style="padding: 8px;">Threehorn Wartyback</td>
                    </tr>
                </table>
            </div>
            <div class="c" style="background-color: #eeeeee; padding-left: 0px;">
                <a target="_blank" href="~/css/pictures/1280px-Obliquaria_reflexa.jpg">
                    <img src="~/css/pictures/1280px-Obliquaria_reflexa.jpg" alt="Forest" style="width:150px">
                </a>
                <a target="_blank" href="~/css/pictures/download.jpg">
                    <img src="~/css/pictures/download.jpg" alt="Forest" style="width:150px">
                </a>
                <a target="_blank" href="~/css/pictures/download (1).jpg">
                    <img src="~/css/pictures/download (1).jpg" alt="Forest" style="width:150px">
                </a>
            </div>
        </div>


    </div>

    @*Content in tabs goes here*@
    <div id="Citations" class="tabcontent">
        <h3>News</h3>
        <p>Some news this fine day!</p>
    </div>

    @*Content in tabs goes here*@
    <div id="Parts" class="tabcontent">
        <h3>Part List</h3>
        <table style=" font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
            <tr>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Part Name</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Condition</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Disposition</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Qty</th>
            </tr>
            <tr style="background-color: #dddddd;">
                <td style="        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">
                    Foot
                </td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Unchecked</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">In Collection</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">2</td>
            </tr>
            <tr>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Gill</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Unchecked</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">In Collection</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">1</td>
            </tr>
            <tr style="background-color: #dddddd;">
                <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Mantle</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Unchecked</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">In Collection</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">1</td>
            </tr>
        </table>
    </div>

    @*Content in tabs goes here*@
    <div id="Projects" class="tabcontent">
        <h3>About</h3>
        <p>Who we are and what we do.</p>
    </div>

    <script>
        //Tabs Scripts
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

    </script>

</body>
</html> 