@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Home Page 1 - UA Template Documentation | The University of Alabama</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,300,600,700" rel="stylesheet" />
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../assets/css/style.min.css" rel="stylesheet" />

    <!-- UA logos - College departments -->
    <!--<link href="../../assets/css/ua-logos/college-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - Arts &amp; Sciences departments -->
    <!--<link href="../../assets/css/ua-logos/as-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - Business departments -->
    <!--<link href="../../assets/css/ua-logos/cba-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - Engineering departments -->
    <!--<link href="../../assets/css/ua-logos/eng-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - Academic Affairs departments -->
    <!--<link href="../../assets/css/ua-logos/aa-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - Financial Affairs departments -->
    <!--<link href="../../assets/css/ua-logos/fa-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - Student Affairs departments -->
    <!--<link href="../../assets/css/ua-logos/sa-depts.min.css" rel="stylesheet" />-->
    <!-- UA logos - All other departments -->
    <!--<link href="../../assets/css/ua-logos/other-depts.min.css" rel="stylesheet" />-->
    <!-- Custom CSS file -->
    <link href="../../assets/css/custom.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../assets/img/favicons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="../../assets/img/favicons/manifest.json" />
    <link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#990000" />
    <link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#990000" />
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png" />
    <meta name="msapplication-config" content="../../assets/img/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="touch-overlay"></div>

    <section class="site-section-top " id="skip-to-content" style="width:100vw; align-items:center; justify-content:center;">
        <div id="ua-carousel" class="carousel carousel-home slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="bg-img bg-center-center" style="background-image: url( '../img/Smith.jpg' ); align-items:center; justify-content:center;">
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Alabama Museum of Natural History</h2>
                                <p class="lead">Exploration | Adventure | Discovery</p>
                            </div> <!-- .caption-inner -->
                        </div> <!-- .caption -->
                    </div> <!-- .bg-img -->
                </div> <!-- .item -->  
            </div> <!-- .carousel-inner -->
        </div> <!-- #ua-carousel -->
    </section>

    <section class="site-content bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content-box box-img bg-light">

                        <img class="img-responsive" src="~/img/SkullsandSkeletonsSmith2.jpg" alt="">

                        <div class="box-body">
                            <h3>Featured Content Title</h3>
                            <p class="small margin-bottom-10 text-muted">
                                <i class="fa fa-calendar"></i> August 25, 2015
                                <i class="margin-left-10 fa fa-tag"></i> Featured Content
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="btn btn-default btn-sm">
                                Read More
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                </div> <!-- .col-md-4 -->

                <div class="col-md-4">
                    <div class="content-box box-img bg-light">

                        <img class="img-responsive" src="../img/presidentsmansion01_800.jpg" alt="">

                        <div class="box-body">
                            <h3>Featured Content Title</h3>
                            <p class="small margin-bottom-10 text-muted">
                                <i class="fa fa-calendar"></i> August 25, 2015
                                <i class="margin-left-10 fa fa-tag"></i> Featured Content
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="btn btn-default btn-sm">
                                Read More
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                </div> <!-- .col-md-4 -->

                <div class="col-md-4">
                    <div class="content-box box-img">

                        <img class="img-responsive" src="../img/bryantdenny01_800.jpg" alt="">

                        <div class="box-body">
                            <h3>Featured Content Title</h3>
                            <p class="small margin-bottom-10 text-muted">
                                <i class="fa fa-calendar"></i> August 25, 2015
                                <i class="margin-left-10 fa fa-tag"></i> Featured Content
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="btn btn-default btn-sm">
                                Read More
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                </div> <!-- .col-md-4 -->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </section>

    <section class="site-content text-center bg-transparent-dark" style="background-image: url( '../img/quadstudents03_1920.jpg' );">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="padding-top-40">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h2>
                    <p class="h4">- Mahatma Gandhi</p>
                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </section>

    <section class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="content-box box-img">
                        <h2>Our Majors</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://www.ua.edu/academics/majors/anthropology"><i class="fa fa-university pull-left fa-fw fa-3x"></i> <strong>Anthropology</strong></a><br />Cras justo odio. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</li>
                            <li class="list-group-item"><a href="https://www.ua.edu/academics/majors/anthropology"><i class="fa fa-flask pull-left fa-fw fa-3x"></i><strong>Biology</strong></a><br />Dapibus ac facilisis in, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li class="list-group-item"><a href="https://www.ua.edu/academics/majors/anthropology"><i class="fa fa-cogs pull-left fa-fw fa-3x"></i><strong>Engineering</strong></a><br />Morbi leo risus, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</li>
                            <li class="list-group-item"><a href="https://www.ua.edu/academics/majors/anthropology"><i class="fa fa-stethoscope pull-left fa-fw  fa-3x"></i> <strong>Nursing</strong></a><br />Porta ac consectetur.</li>
                            <li class="list-group-item"><a href="https://www.ua.edu/academics/majors/anthropology"><i class="fa fa-home pull-left fa-fw fa-3x"></i><strong>Textile and Interior Design</strong></a><br />Vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        </ul>
                    </div> <!-- .box-img -->
                </div> <!-- .col-md-8 -->

                <div class="col-md-4">
                    <div class="content-box box-img bg-light">
                        <div class="box-badge hidden-xs">
                            <small>Featured Program</small>
                        </div> <!-- .box-badge -->

                        <img class="img-responsive" src="../img/nursing01_1920.jpg" alt="">

                        <div class="box-body">
                            <h3>Nurse Practitioner</h3>
                            <p class="small margin-bottom-10 text-muted">
                                <i class="fa fa-tag"></i> Graduate Programs
                                <i class="margin-left-10 fa fa-info-circle"></i> Request Information
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="btn btn-default btn-sm">
                                Read More
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                </div> <!-- .col-md-4 -->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </section>

    <section class="site-content bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header latest-news margin-bottom-20 padding-bottom-10">
                        Latest News
                        <small class="more-news">
                            <a href="http://uanews.ua.edu/">MORE<i class="fa fa-caret-right padding-left-5"></i></a>
                        </small>
                    </h2>
                </div> <!-- .col-md-12 -->
            </div> <!-- .row -->

            <div class="row">
                <div class="col-md-7">
                    <div class="row margin-bottom-15">
                        <div class="col-sm-6">
                            <div class="media-heading">
                                <img class="img-responsive" src="../img/librarystudent01_800.jpg" alt="">
                            </div> <!-- .media-left -->
                            <div class="media-body">
                                <p class="small text-muted no-bottom-spacing">January 11, 2016</p>
                                <h3 class="media-heading"><a href="http://uanews.ua.edu/2016/01/texas-native-ready-for-ua-museum-research-collections-role/">Texas Native Ready for UA Museum Research, Collections Role</a></h3>
                            </div> <!-- .media-body -->
                        </div><!-- .col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="media-heading">
                                <img class="img-responsive" src="../img/dennychimes01_800.jpg" alt="">
                            </div> <!-- .media-left -->
                            <div class="media-body">
                                <p class="small text-muted no-bottom-spacing">January 4, 2016</p>
                                <h3 class="media-heading"><a href="http://uanews.ua.edu/2016/01/texas-native-ready-for-ua-museum-research-collections-role/">UA Students Ready to Make Muscle Car Greener in National Contest</a></h3>
                            </div> <!-- .media-body -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->

                    <ul class="media-list">
                        <li class="media">
                            <p class="small text-muted no-bottom-spacing">January 7, 2016</p>
                            <h4 class="media-heading"><a href="http://uanews.ua.edu/2016/01/barbecue-sauce-vs-blue-cheese-challenge-by-ua-clemson-library-deans/">Barbecue Sauce vs. Blue Cheese: Challenge by UA, Clemson Library Deans</a></h4>
                        </li>

                        <li class="media">
                            <p class="small text-muted no-bottom-spacing">January 1, 2016</p>
                            <h4 class="media-heading"><a href="http://uanews.ua.edu/2016/01/primesport-offers-travel-hospitality-for-ua-fans-headed-to-championship/">PrimeSport Offers Travel, Hospitality for UA Fans Headed to Championship</a></h4>
                        </li>

                        <li class="media">
                            <p class="small text-muted no-bottom-spacing">December 21, 2015</p>
                            <h4 class="media-heading"><a href="http://uanews.ua.edu/2015/12/redesigned-ua-website-unveiled/">Redesigned UA Website Unveiled</a></h4>
                        </li>
                    </ul>
                </div> <!-- .col-md-7 -->

                <div class="col-md-5">
                    <ul class="nav nav-tabs tabs-v3 nav-justified social-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#twitter" role="tab" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-fw fa-twitter "></i>
                                <br>
                                <span class="hidden-xs">Twitter</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#vimeo" role="tab" data-toggle="tab">
                                <i class="fa fa-fw fa-vimeo"></i>
                                <br>
                                <span class="hidden-xs">Vimeo</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content social-tabs">
                        <div class="tab-pane active" id="twitter">
                            <div class="social-tabs-content">
                                <ul class="list-unstyled social-list">
                                    <li>                                       

                                        <div class="social-actions">
                                            <time datetime="2016-01-15T00:55:38" class="pull-left">
                                                <a href="https://twitter.com/UofAlabama/status/687800272039481344" target="_blank">about 14 hours ago</a>
                                            </time>

                                            <p class="pull-right">
                                                <a href="https://twitter.com/intent/tweet?in-reply-to=687800272039481344" target="_blank" title="Reply">
                                                    <i class="fa fa-reply"></i>
                                                    <span class="sr-only">Reply</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/retweet?tweet_id=687800272039481344" target="_blank" title="Retweet">
                                                    <i class="fa fa-retweet"></i> 0							<span class="sr-only">Retweet</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/favorite?tweet_id=687800272039481344" target="_blank" title="Like">
                                                    <i class="fa fa-heart"></i> 7							<span class="sr-only">Like</span>
                                                </a>
                                            </p>
                                        </div> <!-- .social-actions -->

                                        <div class="clearfix"></div>

                                        <div class="divider-light faded-both"></div>
                                    </li>
                                    <li>
                                        

                                        <div class="social-actions">
                                            <time datetime="2016-01-14T02:12:50" class="pull-left">
                                                <a href="https://twitter.com/UofAlabama/status/687457311296585728" target="_blank">02:02 AM Jan 14th</a>
                                            </time>

                                            <p class="pull-right">
                                                <a href="https://twitter.com/intent/tweet?in-reply-to=687457311296585728" target="_blank" title="Reply">
                                                    <i class="fa fa-reply"></i>
                                                    <span class="sr-only">Reply</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/retweet?tweet_id=687457311296585728" target="_blank" title="Retweet">
                                                    <i class="fa fa-retweet"></i> 1							<span class="sr-only">Retweet</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/favorite?tweet_id=687457311296585728" target="_blank" title="Like">
                                                    <i class="fa fa-heart"></i> 5							<span class="sr-only">Like</span>
                                                </a>
                                            </p>
                                        </div> <!-- .social-actions -->

                                        <div class="clearfix"></div>

                                        <div class="divider-light faded-both"></div>
                                    </li>
                                    <li>
                                        

                                        <div class="social-actions">
                                            <time datetime="2016-01-13T13:48:51" class="pull-left">
                                                <a href="https://twitter.com/UofAlabama/status/687270085501816832" target="_blank">01:38 PM Jan 13th</a>
                                            </time>

                                            <p class="pull-right">
                                                <a href="https://twitter.com/intent/tweet?in-reply-to=687270085501816832" target="_blank" title="Reply">
                                                    <i class="fa fa-reply"></i>
                                                    <span class="sr-only">Reply</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/retweet?tweet_id=687270085501816832" target="_blank" title="Retweet">
                                                    <i class="fa fa-retweet"></i> 4							<span class="sr-only">Retweet</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/favorite?tweet_id=687270085501816832" target="_blank" title="Like">
                                                    <i class="fa fa-heart"></i> 11							<span class="sr-only">Like</span>
                                                </a>
                                            </p>
                                        </div> <!-- .social-actions -->

                                        <div class="clearfix"></div>

                                        <div class="divider-light faded-both"></div>
                                    </li>
                                    <li>
                                        

                                        <div class="social-actions">
                                            <time datetime="2016-01-13T13:04:31" class="pull-left">
                                                <a href="https://twitter.com/UofAlabama/status/687258926887337984" target="_blank">12:54 PM Jan 13th</a>
                                            </time>

                                            <p class="pull-right">
                                                <a href="https://twitter.com/intent/tweet?in-reply-to=687258926887337984" target="_blank" title="Reply">
                                                    <i class="fa fa-reply"></i>
                                                    <span class="sr-only">Reply</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/retweet?tweet_id=687258926887337984" target="_blank" title="Retweet">
                                                    <i class="fa fa-retweet"></i> 93							<span class="sr-only">Retweet</span>
                                                </a>&nbsp;
                                                <a href="https://twitter.com/intent/favorite?tweet_id=687258926887337984" target="_blank" title="Like">
                                                    <i class="fa fa-heart"></i> 175							<span class="sr-only">Like</span>
                                                </a>
                                            </p>
                                        </div> <!-- .social-actions -->

                                        <div class="clearfix"></div>

                                        <div class="divider-light faded-both"></div>
                                    </li>                                   
                                    
                                </ul>
                            </div> <!-- .social-tabs-content -->

                            <div class="social-tabs-footer">
                                <a href="https://twitter.com/UofAlabama/" target="_blank" class="btn btn-transparent-v2 btn-sm pull-right"><i class="fa fa-fw fa-twitter "></i> Follow</a>
                                <div class="clearfix"></div>
                            </div> <!-- .social-tabs-footer -->
                        </div> <!-- #twitter -->

                        <div class="tab-pane" id="vimeo">
                            <div class="social-tabs-content">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://player.vimeo.com/video/152704107?color=ffffff" width="500" height="281" frameborder="0" title="Some Video Title" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div> <!-- embed-responsive -->
                            </div> <!-- .social-tabs-content -->

                            <div class="social-tabs-footer">
                                <a href="https://vimeo.com/universityofalabama" target="_blank" class="btn btn-transparent-v2 btn-sm pull-right"><i class="fa fa-fw fa-vimeo "></i> Follow</a>
                                <div class="clearfix"></div>
                            </div> <!-- .social-tabs-footer -->
                        </div> <!-- #vimeo -->
                    </div> <!-- .social-tabs -->
                </div> <!-- .col-md-5 -->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </section>
</body>

